
/* body accueil*/
body{
background-image:url("background.jpg");
background-size:cover;
margin:0;
background-repeat:no-repeat;

}

/*body service*/
#corps2{
background-image:url("pattern1.jpg");
background-size:cover;
margin:0;
background-repeat:no-repeat;

}

/*body contact*/

#corps4{
background-image:url("montre.jpg");
background-size:cover;
margin:0;
background-repeat:no-repeat;

}

#entete{
    position:absolute;
    top:0%;
	height:5vmax;
	width:100vmax;
	background-color:#DCD0C0;
	border:solid 4px #F4F4F4;
	font-family:cinzel;


}

/*suppression des surlignages sur le menu*/
a:link{
	text-decoration: none;
}

/*dimension logo*/
#logo{
position:absolute;
width:15vmax;
height:5vmax;

}
 
 /* mon nenu (accueil ,service,apropos,contact)*/
#navigation{
	display:flex;
	justify-content:flex-end;
	list-style:none;
	margin:0;
	height:-2px;

}

li{
	padding:3vmax;
	margin-left:6px;

}

#centre{
	position:absolute;
	width:50vmax;
	height:30vmax;
	bottom:5%;
	right:10%;
	border:solid 4px #F4F4F4;

}



#imageducentre{
   width:50vmax;
   height: 30vmax;
}

#logoducentre{
	position:absolute;
	top:10%;
	width:25vmax;
	left:50%;
	height:10vmax;
}

#para{
	position:absolute;
	top:60%;
	left:50%;
	width:25vmax;
	color:black;
	font-family:montserra; 
}

.boutonservice{
	position:absolute;
	bottom:5%;
	left:50%;
	-webkit-text-stroke:1px;
    -webkit-text-stroke-color:#d60;
}

#montre{
	position:absolute;
	top:20%;
	left:10%;
	width:40vmax;
	height:17vmax;
	background:url("fond.jpg");
	background-size:15vmax 25vmax;
}



#montre:hover{
	background-image:url("montre.jpg");
}



#montregousset{
	position:absolute;
	top:58%;
	left:10%;
	width:19vmax;
	height:15vmax;
	background:url("montregousset.jpg");
	background-size:25vmax 35vmax;
	background-size:cover;
	
}

#montregousset:hover{
	background-image:url("montre.jpg");
}


#reparation{
	position:absolute;
	top:58%;
	left:30%;
	width:19vmax;
	height:15vmax;
	padding-left:1vmax;
	background-size:cover;
	background:url("montre.jpg");
	background-size: cover;
}
#reparation:hover{
	background-image:url("montregousset.jpg");
}



#horlogerie{
	position:absolute;
	top:20%;
	right:17%;
	width:25vmax;
	height:33vmax;
	background-size:10vmax 15vmax;
	background:url("horlogerie.jpg");
	background-size:cover;
}

#horlogerie:hover{
	background-image:url("montre.jpg");
}


#para1{
	position:absolute;
	top:30%;
	left:10%;
	width:25vmax;
	height:22vmax;
	color:#C0B283;
	opacity:1;
	border:solid 3px #C0B283;
	font-family:montserra;

}



 #paragraphe{
   position:absolute;
   top:20%;
   left:15%;
   width:20vmax;
   height:10vmax;
   color:white;
   text-transform: uppercase;
   font-family:cinzel;
}

#photo{
		position:absolute;
		right:10%;
		top:20%;
		width:25vmax;
		height: 20vmax;
}
#olivier{
		width:25vmax;
		height:15vmax;
}

#titre2{
	position:absolute;
	top:75%;
	right:25%;
	color:white;
	text-transform:uppercase;
	font-family:cinzel;
}

#para2{
	position:absolute;
	top:88%;
	right:5%;
	color:#C0B283;
	text-align:justify;
	border:solid 3px #C0B283;
	height:25vmax;
	font-family:montserra;

}

#meslogos{
	display:inline-block;
	position:absolute;
	bottom:-30%;
	left:10%;
	width:60vmax;
	height:1vmax;
}

#facebook{
	width:5vmax;
	height:5vmax
}
#insta{
	width:5vmax;
	height:5vmax;
}
#twitter{
	width:5vmax;
	height:5vmax;
}

form{
	position:absolute;
	top:40%;
	left:10%;
	width:30vw;
	height:50vh;
	background:#DCD0C0;
	border:solid 4px white;
	
}
textarea{
	position:absolute;
	bottom:3%;
	width:15vw;
	height:10vh;
	left:10%;
}

#message{
	position:absolute;

}

label{
    margin-top:15vh;
	font-size:1.5vmax;
}

#maps{
	position:absolute;
	width:37.5vmax;
	height:27.9vmax;
	left: 60%;
	top:20%;
	border:solid 3px #F4F4F4;
}

#contact{
	color:black;
	font-size:20px;
	width:25vw;
	opacity:1;

}

#contacte{
	position:absolute;
	right:1%;
}

@font-face{
         font-family:"montserra";
         src:url("montserramedium.ttf");
}

@font-face{
	font-family:"cinzel";
	src:url("cinzelblack.ttf");
}






